<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.scopus.ifsp.projetofinalteste">

    <!-- PERMISSÕES -->

    <!-- Vibração do Smartphone -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Envio de mensagens -->
    <uses-permission android:name="android.permission.SEND_SMS" />

    <!-- Localização do Smartphone -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- ACTIVITIES -->
        <!-- SplashActivity -->
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TelaCheia">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MapaActivity -->
        <activity
            android:name=".activity.MapaActivity"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>

        <!-- AlertaQuedaActivity -->
        <activity
            android:name=".activity.AlertaQuedaActivity"
            android:screenOrientation="portrait"></activity>

        <!-- FichaMedicaActivity -->
        <activity
            android:name=".activity.FichaMedicaActivity"
            android:screenOrientation="portrait"></activity>

        <!-- CadastroGeralActivity -->
        <activity
            android:name=".activity.CadastroGeralActivity"
            android:screenOrientation="portrait"></activity>

        <!-- CadastroAlergiaActivity -->
        <activity
            android:name=".activity.CadastroAlergiaActivity"
            android:parentActivityName=".activity.CadastroGeralActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.CadastroGeralActivity" />
        </activity>

        <!-- CadastroMedicamentoActivity -->

        <!-- CadastroContatoEmergenciaActivity -->
        <activity
            android:name=".activity.CadastroContatoEmergenciaActivity"
            android:parentActivityName=".activity.CadastroAlergiaActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.CadastroAlergiaActivity" />
        </activity>

        <activity android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.AlarmActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.AddReminderActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.InfoRemedioActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.AlarmListaCompletaActivity"
            android:screenOrientation="portrait" />

        <!-- SERVICES -->
        <!-- DetectorQuedaService -->
        <service
            android:name=".service.DetectorQuedaService"
            android:exported="false" />

        <!-- AlertaService -->
        <service
            android:name=".service.AlertaService"
            android:exported="false" />

        <!-- EnvioMensagemService -->
        <service
            android:name=".service.EnvioMensagemService"
            android:exported="false" />

        <!-- EnvioMensagemWhatsAppService -->
        <service
            android:name=".service.EnvioMensagemWhatsappService"
            android:exported="false" />

        <!-- LocalizacaoService -->
        <service
            android:name=".service.LocalizacaoService"
            android:exported="false" />

        <!-- Configurações Google Maps API-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/API_KEY" />

        <receiver android:name=".service.AlarmReceiver" />
    </application>

</manifest>